<form>
    <div class="form-group">
        <label>Game Title: Fushoo</label>
        <input type="text" class="form-control" placeholder="Title" ng-model="review.title">
    </div>
    <div class="form-group">
        <label>Review:</label>
        <textarea type="text" class="form-control" placeholder="Your review" ng-model="review.content"></textarea>
    </div>
    <div class="form-group">
        <label>Score:</label>
        <input type="number" class="form-control" placeholder="Score" min="1" max="100" ng-model="review.score">
    </div>
    <div class="form-group">
        <label>Game Name:</label>
        <input type="text" class="form-control" placeholder="Game Name" min="1" max="100" ng-model="review.gameName">
    </div>
    <button type="submit" class="btn btn-default" data-ng-click="createReview(review)">Create review</button>
</form>