<div class="view">
    <div class="container">
        <br/>
        <div class="row">
            <div class="span2 h2">Giga games game store</div>
            <div class="span9">This game store is part of the College of Management web project.</div>
            <div class="span9">It is the best game store ever created.</div>
            <div class="span9">We sell the best and newest games on the globe and we do it with crazy prices!</div>
            <div class="span9">Free shipping to anywhere in the world (Or if you prefer you can just order the cdkey :))</div>
            <div class="span9">Actually we don't sell any game, we just allow you to post reviews.</div>
        </div>

        <map-directive/>

    </div>
</div>


